NET "in_clk"   LOC = N8;
#NET "out_led[0]" LOC = A10;
#NET "out_led[1]" LOC = C11;
#NET "out_led[2]" LOC = A11;
#NET "GPIO_F[0]" LOC = A10 | IOSTANDARD = LVCMOS33;
#NET "GPIO_F[1]" LOC = C11 | IOSTANDARD = LVCMOS33;
#NET "GPIO_F[2]" LOC = A11 | IOSTANDARD = LVCMOS33;
NET "GPIO_P[0]" LOC = A10 | IOSTANDARD = LVCMOS33;
NET "GPIO_P[1]" LOC = C11 | IOSTANDARD = LVCMOS33;
NET "GPIO_P[2]" LOC = A11 | IOSTANDARD = LVCMOS33;

NET "in_clk"   IOSTANDARD = LVCMOS33;
#NET "out_led[0]" IOSTANDARD = LVCMOS33;
#NET "out_led[1]" IOSTANDARD = LVCMOS33;
#NET "out_led[2]" IOSTANDARD = LVCMOS33;

NET "RS422_TX" LOC = N14;# | IOSTANDARD = LVCMOS33;
NET "RS422_RX" LOC = P12;# | IOSTANDARD = LVCMOS33;

NET "MTX" LOC = F16; #| IOSTANDARD = LVCMOS33;
NET "MRX" LOC = F15; #| IOSTANDARD = LVCMOS33;

NET "DDR_DQ[0]"  LOC = K2;
NET "DDR_DQ[1]"  LOC = K1;
NET "DDR_DQ[2]"  LOC = J3;
NET "DDR_DQ[3]"  LOC = J1;
NET "DDR_DQ[4]"  LOC = F2;
NET "DDR_DQ[5]"  LOC = F1;
NET "DDR_DQ[6]"  LOC = G3;
NET "DDR_DQ[7]"  LOC = G1;
NET "DDR_DQ[8]"  LOC = L3;
NET "DDR_DQ[9]"  LOC = L1;
NET "DDR_DQ[10]" LOC = M2;
NET "DDR_DQ[11]" LOC = M1;
NET "DDR_DQ[12]" LOC = P2;
NET "DDR_DQ[13]" LOC = P1;
NET "DDR_DQ[14]" LOC = R2;
NET "DDR_DQ[15]" LOC = R1;

NET "DDR_ADR[0]"  LOC = K5;
NET "DDR_ADR[1]"  LOC = K6;
NET "DDR_ADR[2]"  LOC = D1;
NET "DDR_ADR[3]"  LOC = L4;
NET "DDR_ADR[4]"  LOC = G5;
NET "DDR_ADR[5]"  LOC = H4;
NET "DDR_ADR[6]"  LOC = H3;
NET "DDR_ADR[7]"  LOC = D3;
NET "DDR_ADR[8]"  LOC = B2;
NET "DDR_ADR[9]"  LOC = A2;
NET "DDR_ADR[10]" LOC = G6;
NET "DDR_ADR[11]" LOC = E3;
NET "DDR_ADR[12]" LOC = F3;

NET "DDR_ADR[0]"  IOSTANDARD = SSTL18_II;
NET "DDR_ADR[1]"  IOSTANDARD = SSTL18_II;
NET "DDR_ADR[2]"  IOSTANDARD = SSTL18_II;
NET "DDR_ADR[3]"  IOSTANDARD = SSTL18_II;
NET "DDR_ADR[4]"  IOSTANDARD = SSTL18_II;
NET "DDR_ADR[5]"  IOSTANDARD = SSTL18_II;
NET "DDR_ADR[6]"  IOSTANDARD = SSTL18_II;
NET "DDR_ADR[7]"  IOSTANDARD = SSTL18_II;
NET "DDR_ADR[8]"  IOSTANDARD = SSTL18_II;
NET "DDR_ADR[9]"  IOSTANDARD = SSTL18_II;
NET "DDR_ADR[10]" IOSTANDARD = SSTL18_II;
NET "DDR_ADR[11]" IOSTANDARD = SSTL18_II;
NET "DDR_ADR[12]" IOSTANDARD = SSTL18_II;
				
NET "DDR_UDQS"  LOC = N3;
#NET "DDR_UDQS"  IOSTANDARD = DIFF_SSTL18_II;

##¹DDR_UDQSN		: inout std_logic;--yes
NET "DDR_LDQS"  LOC = H2;
#NET "DDR_LDQS"  IOSTANDARD = DIFF_SSTL18_II;

#¹NET "DDR_LDQSN" LOC = K3;
NET "DDR_UDM"   LOC = K3;
NET "DDR_LDM"   LOC = J4;
NET "DDR_RAS"   LOC = J6;
NET "DDR_CAS"   LOC = H5;
NET "DDR_ODT"   LOC = L5;
NET "DDR_CLK"   LOC = E2;
NET "DDR_CLKN"  LOC = E1;

NET "DDR_UDM"   IOSTANDARD = SSTL18_II;
NET "DDR_LDM"   IOSTANDARD = SSTL18_II;
NET "DDR_RAS"   IOSTANDARD = SSTL18_II;
NET "DDR_CAS"   IOSTANDARD = SSTL18_II;
NET "DDR_ODT"   IOSTANDARD = SSTL18_II;
NET "DDR_CLK"   IOSTANDARD = DIFF_SSTL18_II;
NET "DDR_CLKN"  IOSTANDARD = DIFF_SSTL18_II;

#
NET "DDR_BA[0]" LOC = C3;
NET "DDR_BA[1]" LOC = C2;
NET "DDR_BA[0]" IOSTANDARD = SSTL18_II;
NET "DDR_BA[1]" IOSTANDARD = SSTL18_II;
#
NET "DDR_WE"  LOC = C1;
NET "DDR_WE" IOSTANDARD = SSTL18_II;

NET "DDR_CLE" LOC = F4;
NET "DDR_CLE"  IOSTANDARD = SSTL18_II;

NET "can_rx" LOC = R5; #| IOSTANDARD = LVCMOS33; 
NET "can_tx" LOC = T5; #| IOSTANDARD = LVCMOS33;

NET "ADC_nINT_RES" LOC = M15;
NET "ADC_nRST_RES" LOC = H16;
NET "ADC_MISO_RES" LOC = N16;
NET "ADC_MOSI_RES" LOC = P16;
NET "ADC_nCS_RES"  LOC = M16;
NET "ADC_SCK_RES"  LOC = P15;
NET "ADC_CLK_RES"  LOC = L16;

NET "ADC_nINT_SP"  LOC = P8;
NET "ADC_nRST_SP"  LOC = T9;
NET "ADC_MISO_SP"  LOC = T7;
NET "ADC_MOSI_SP"  LOC = R7;
NET "ADC_nCS_SP"   LOC = T8;
NET "ADC_SCK_SP"   LOC = T6;
NET "ADC_CLK_SP"   LOC = R9;

NET "I2C_SDA"      LOC = R16;
NET "I2C_SCL"      LOC = R15;

#NET "adc_max1227_eos"  LOC = M11;
#NET "adc_max1227_dout" LOC = N9;
#NET "adc_max1227_cs"   LOC = N6;
#NET "adc_max1227_din"  LOC = P7;
#NET "adc_max1227_clk"  LOC = P5;

#NET "ADC_CS_US"   LOC = N6;
#NET "ADC_DOUT_US" LOC = N9;
#NET "ADC_DIN_US"  LOC = P7;
#NET "ADC_EOC_US"  LOC = M11;
#NET "ADC_CLK_US"	LOC = P5;

NET "IO[0]" LOC = B5 | IOSTANDARD = LVCMOS33;
NET "IO[1]" LOC = B6 | IOSTANDARD = LVCMOS33;
NET "IO[2]" LOC = A6 | IOSTANDARD = LVCMOS33;
NET "IO[3]" LOC = C7 | IOSTANDARD = LVCMOS33;
NET "IO[4]" LOC = A7 | IOSTANDARD = LVCMOS33;
NET "IO[5]" LOC = A8 | IOSTANDARD = LVCMOS33;
NET "IO[6]" LOC = B8 | IOSTANDARD = LVCMOS33;
NET "IO[7]" LOC = A9 | IOSTANDARD = LVCMOS33;


